<!DOCTYPE html>
<html>
<head>
  <title>Taxcut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

  <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand"><a href="/">TaxCut</a></h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li class=""><a href="/">Home</a></li>
                    <li><%= link_to "How it works", how_it_works_path%></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>

<%= yield %>
      <div class="mastfoot">
        <div class="inner">
          <p>Check us out on <a href="https://twitter.com/taxcutnow">Twitter</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
